* {
    background: rgb(243, 230, 255);
    font-family: sans-serif;
}

.header{
    text-align: center;
    font-style: normal;
    color: blueviolet;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    /* text-transform: uppercase;  chuyển thường thành hoa */
    /* margin-top: 10%; */

}


#img_logo{
    height: 150px;
    width: 300px;
}

.main_content {
    color:white;  
    background-color: #7f13f8;
    border-radius: 25px;
    padding: 20px; 
    width: 40%;
    text-align:left;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4{
    background-color: rgba(126, 19, 248, 0.863);
}

h3{
    background-color: rgba(126, 19, 248, 0.863);
}

h2{
    background-color: rgba(126, 19, 248, 0.863);
}


#st1{
    color: rgb(253, 255, 154);
	border-left: 5px solid yellow;
    padding-left: 5px;
    
}
#select{
    background-color: rgb(255, 197, 39);   
    border-radius:4px;
    padding: 5px;
    width: 380px;
    height: 20px;
    margin-left: 2px;

}

.footer{
    text-align: center;


}
#btn_download {
    margin-top: 50px;

}

#under_line{
    margin-top: 0px;

}